.bundle
db/*.sqlite3
db/migrate/*_engine.rb
db/migrate/*.language_assets.rb
log/*.log
log/*.gz
tmp/
.sass-cache/
config/po_gate.yml
config/rackspace.yml
public/uploads/
coverage/
.idea/
.DS_Store
coverage/
.rvmrc
.screenrc
.powenv
*~
/storage/*
!/storage/.keep     
public/assets
.byebug_history
*.sw?
.vagrant/*
Vagrantfile
.env

config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml

/public/packs
/public/packs-test
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity
node_modules
vednor/bundle/

# Ignore master key for decrypting credentials and more.
/config/master.key
